.todo-entry {
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid gray;
}

.container {
  width: 80%;
  align-items: center;
  display: flex;
}

.task-icon {
  width: 60px;
  border: 1px solid gray;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.task-main-info {
  margin-left: 10px;
  width: calc(100% - 80px);
}

.task-info {
  width: 100%;
  word-wrap: none;
  text-overflow: ellipsis;
  overflow: hidden;
}

.task-main-info.completed{
  text-decoration: line-through;
}

.controls {
  display: flex;
}
